In [610]:
# importing the library used for data cleaning
import pandas as pd

In [611]:
# loading the raw csv file
file = 'file.csv'
usa = pd.read_csv(file, encoding = 'utf-8')

In [612]:
usa

,City,State,2019 estimate,2010 Census,Change,2016 land area,Unnamed: 6,2016 population density,Unnamed: 8,Location
0,New York[d],New York,"8,336,817","8,175,133",1.98%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40.6635°N 73.9387°W
1,Los Angeles,California,"3,979,576","3,792,621",4.93%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34.0194°N 118.4108°W
2,Chicago,Illinois,"2,693,976","2,695,598",−0.06%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41.8376°N 87.6818°W
3,Houston[3],Texas,"2,320,268","2,100,263",10.48%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29.7866°N 95.3909°W
4,Phoenix,Arizona,"1,680,992","1,445,632",16.28%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33.5722°N 112.0901°W
...,...,...,...,...,...,...,...,...,...,...
312,San Angelo,Texas,"101,004","93,200",8.37%,59.9 sq mi,155.1 km2,"1,681/sq mi",649/km2,31.4411°N 100.4505°W
313,Vacaville,California,"100,670","92,428",8.92%,29.0 sq mi,75.1 km2,"3,449/sq mi","1,332/km2",38.3539°N 121.9728°W
314,Clinton[ae],Michigan,"100,471","96,796",3.80%,28.1 sq mi,72.8 km2,"3,573/sq mi","1,380/km2",42.5903°N 82.9170°W
315,Bend,Oregon,"100,421","76,639",31.03%,33.1 sq mi,85.7 km2,"3,034/sq mi","1,171/km2",44.0500°N 121.3000°W
316,Woodbridge[ad],New Jersey,"100,145","99,585",0.56%,23.3 sq mi,60.3 km2,"4,351/sq mi","1,680/km2",40.5607°N 74.2927°W

In [613]:
# starting the cleaning of the csv raw file
# try to make the fields as logical and readable as possible by replacing the unusual characters in the file
usa['2016 land area'] = usa['2016 land area'].str.replace('sq', ' ')

In [614]:
usa

,City,State,2019 estimate,2010 Census,Change,2016 land area,Unnamed: 6,2016 population density,Unnamed: 8,Location
0,New York[d],New York,"8,336,817","8,175,133",1.98%,301.5 mi,780.9 km2,"28,317/sq mi","10,933/km2",40.6635°N 73.9387°W
1,Los Angeles,California,"3,979,576","3,792,621",4.93%,468.7 mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34.0194°N 118.4108°W
2,Chicago,Illinois,"2,693,976","2,695,598",−0.06%,227.3 mi,588.7 km2,"11,900/sq mi","4,600/km2",41.8376°N 87.6818°W
3,Houston[3],Texas,"2,320,268","2,100,263",10.48%,637.5 mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29.7866°N 95.3909°W
4,Phoenix,Arizona,"1,680,992","1,445,632",16.28%,517.6 mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33.5722°N 112.0901°W
...,...,...,...,...,...,...,...,...,...,...
312,San Angelo,Texas,"101,004","93,200",8.37%,59.9 mi,155.1 km2,"1,681/sq mi",649/km2,31.4411°N 100.4505°W
313,Vacaville,California,"100,670","92,428",8.92%,29.0 mi,75.1 km2,"3,449/sq mi","1,332/km2",38.3539°N 121.9728°W
314,Clinton[ae],Michigan,"100,471","96,796",3.80%,28.1 mi,72.8 km2,"3,573/sq mi","1,380/km2",42.5903°N 82.9170°W
315,Bend,Oregon,"100,421","76,639",31.03%,33.1 mi,85.7 km2,"3,034/sq mi","1,171/km2",44.0500°N 121.3000°W
316,Woodbridge[ad],New Jersey,"100,145","99,585",0.56%,23.3 mi,60.3 km2,"4,351/sq mi","1,680/km2",40.5607°N 74.2927°W

In [615]:
usa['2016 population density'] = usa['2016 population density'].str.replace('/sq', ' ')
usa['2016 population density'] = usa['2016 population density'].str.replace('mi', ' ')

In [616]:
usa

,City,State,2019 estimate,2010 Census,Change,2016 land area,Unnamed: 6,2016 population density,Unnamed: 8,Location
0,New York[d],New York,"8,336,817","8,175,133",1.98%,301.5 mi,780.9 km2,"28,317","10,933/km2",40.6635°N 73.9387°W
1,Los Angeles,California,"3,979,576","3,792,621",4.93%,468.7 mi,"1,213.9 km2","8,484","3,276/km2",34.0194°N 118.4108°W
2,Chicago,Illinois,"2,693,976","2,695,598",−0.06%,227.3 mi,588.7 km2,"11,900","4,600/km2",41.8376°N 87.6818°W
3,Houston[3],Texas,"2,320,268","2,100,263",10.48%,637.5 mi,"1,651.1 km2","3,613","1,395/km2",29.7866°N 95.3909°W
4,Phoenix,Arizona,"1,680,992","1,445,632",16.28%,517.6 mi,"1,340.6 km2","3,120","1,200/km2",33.5722°N 112.0901°W
...,...,...,...,...,...,...,...,...,...,...
312,San Angelo,Texas,"101,004","93,200",8.37%,59.9 mi,155.1 km2,"1,681",649/km2,31.4411°N 100.4505°W
313,Vacaville,California,"100,670","92,428",8.92%,29.0 mi,75.1 km2,"3,449","1,332/km2",38.3539°N 121.9728°W
314,Clinton[ae],Michigan,"100,471","96,796",3.80%,28.1 mi,72.8 km2,"3,573","1,380/km2",42.5903°N 82.9170°W
315,Bend,Oregon,"100,421","76,639",31.03%,33.1 mi,85.7 km2,"3,034","1,171/km2",44.0500°N 121.3000°W
316,Woodbridge[ad],New Jersey,"100,145","99,585",0.56%,23.3 mi,60.3 km2,"4,351","1,680/km2",40.5607°N 74.2927°W

In [617]:
usa['Unnamed: 6'] = usa['Unnamed: 6'].str.replace('km2', ' ')
usa['Unnamed: 8'] = usa['Unnamed: 8'].str.replace('/km2', ' ')

In [618]:
usa

,City,State,2019 estimate,2010 Census,Change,2016 land area,Unnamed: 6,2016 population density,Unnamed: 8,Location
0,New York[d],New York,"8,336,817","8,175,133",1.98%,301.5 mi,780.9,"28,317","10,933",40.6635°N 73.9387°W
1,Los Angeles,California,"3,979,576","3,792,621",4.93%,468.7 mi,"1,213.9","8,484","3,276",34.0194°N 118.4108°W
2,Chicago,Illinois,"2,693,976","2,695,598",−0.06%,227.3 mi,588.7,"11,900","4,600",41.8376°N 87.6818°W
3,Houston[3],Texas,"2,320,268","2,100,263",10.48%,637.5 mi,"1,651.1","3,613","1,395",29.7866°N 95.3909°W
4,Phoenix,Arizona,"1,680,992","1,445,632",16.28%,517.6 mi,"1,340.6","3,120","1,200",33.5722°N 112.0901°W
...,...,...,...,...,...,...,...,...,...,...
312,San Angelo,Texas,"101,004","93,200",8.37%,59.9 mi,155.1,"1,681",649,31.4411°N 100.4505°W
313,Vacaville,California,"100,670","92,428",8.92%,29.0 mi,75.1,"3,449","1,332",38.3539°N 121.9728°W
314,Clinton[ae],Michigan,"100,471","96,796",3.80%,28.1 mi,72.8,"3,573","1,380",42.5903°N 82.9170°W
315,Bend,Oregon,"100,421","76,639",31.03%,33.1 mi,85.7,"3,034","1,171",44.0500°N 121.3000°W
316,Woodbridge[ad],New Jersey,"100,145","99,585",0.56%,23.3 mi,60.3,"4,351","1,680",40.5607°N 74.2927°W

In [619]:
usa['Change'] = usa['Change'].str.replace('%', ' ')

In [620]:
usa

,City,State,2019 estimate,2010 Census,Change,2016 land area,Unnamed: 6,2016 population density,Unnamed: 8,Location
0,New York[d],New York,"8,336,817","8,175,133",1.98,301.5 mi,780.9,"28,317","10,933",40.6635°N 73.9387°W
1,Los Angeles,California,"3,979,576","3,792,621",4.93,468.7 mi,"1,213.9","8,484","3,276",34.0194°N 118.4108°W
2,Chicago,Illinois,"2,693,976","2,695,598",−0.06,227.3 mi,588.7,"11,900","4,600",41.8376°N 87.6818°W
3,Houston[3],Texas,"2,320,268","2,100,263",10.48,637.5 mi,"1,651.1","3,613","1,395",29.7866°N 95.3909°W
4,Phoenix,Arizona,"1,680,992","1,445,632",16.28,517.6 mi,"1,340.6","3,120","1,200",33.5722°N 112.0901°W
...,...,...,...,...,...,...,...,...,...,...
312,San Angelo,Texas,"101,004","93,200",8.37,59.9 mi,155.1,"1,681",649,31.4411°N 100.4505°W
313,Vacaville,California,"100,670","92,428",8.92,29.0 mi,75.1,"3,449","1,332",38.3539°N 121.9728°W
314,Clinton[ae],Michigan,"100,471","96,796",3.80,28.1 mi,72.8,"3,573","1,380",42.5903°N 82.9170°W
315,Bend,Oregon,"100,421","76,639",31.03,33.1 mi,85.7,"3,034","1,171",44.0500°N 121.3000°W
316,Woodbridge[ad],New Jersey,"100,145","99,585",0.56,23.3 mi,60.3,"4,351","1,680",40.5607°N 74.2927°W

In [621]:
usa['City'] = usa['City'].str.replace(r"\[.*\]"," ")

In [622]:
usa.head(150)

,City,State,2019 estimate,2010 Census,Change,2016 land area,Unnamed: 6,2016 population density,Unnamed: 8,Location
0,New York,New York,"8,336,817","8,175,133",1.98,301.5 mi,780.9,"28,317","10,933",40.6635°N 73.9387°W
1,Los Angeles,California,"3,979,576","3,792,621",4.93,468.7 mi,"1,213.9","8,484","3,276",34.0194°N 118.4108°W
2,Chicago,Illinois,"2,693,976","2,695,598",−0.06,227.3 mi,588.7,"11,900","4,600",41.8376°N 87.6818°W
3,Houston,Texas,"2,320,268","2,100,263",10.48,637.5 mi,"1,651.1","3,613","1,395",29.7866°N 95.3909°W
4,Phoenix,Arizona,"1,680,992","1,445,632",16.28,517.6 mi,"1,340.6","3,120","1,200",33.5722°N 112.0901°W
...,...,...,...,...,...,...,...,...,...,...
145,Santa Rosa,California,"176,753","167,815",5.33,41.3 mi,107.0,"4,241","1,637",38.4468°N 122.7061°W
146,Peoria,Arizona,"175,961","154,065",14.21,175.7 mi,455.1,934,361,33.7862°N 112.3080°W
147,Oceanside,California,"175,742","167,086",5.18,41.3 mi,107.0,"4,249","1,641",33.2245°N 117.3062°W
148,Elk Grove,California,"174,775","153,015",14.22,42.2 mi,109.3,"4,022","1,553",38.4146°N 121.3850°W
149,Salem,Oregon,"174,365","154,637",12.76,48.6 mi,125.9,"3,445","1,330",44.9237°N 123.0232°W

In [623]:
usa['2016 land area'] = usa['2016 land area'].str.replace('mi', ' ')
usa['Location'] = usa['Location'].str.replace('°N ', ' ')

In [624]:
usa

,City,State,2019 estimate,2010 Census,Change,2016 land area,Unnamed: 6,2016 population density,Unnamed: 8,Location
0,New York,New York,"8,336,817","8,175,133",1.98,301.5,780.9,"28,317","10,933",40.6635 73.9387°W
1,Los Angeles,California,"3,979,576","3,792,621",4.93,468.7,"1,213.9","8,484","3,276",34.0194 118.4108°W
2,Chicago,Illinois,"2,693,976","2,695,598",−0.06,227.3,588.7,"11,900","4,600",41.8376 87.6818°W
3,Houston,Texas,"2,320,268","2,100,263",10.48,637.5,"1,651.1","3,613","1,395",29.7866 95.3909°W
4,Phoenix,Arizona,"1,680,992","1,445,632",16.28,517.6,"1,340.6","3,120","1,200",33.5722 112.0901°W
...,...,...,...,...,...,...,...,...,...,...
312,San Angelo,Texas,"101,004","93,200",8.37,59.9,155.1,"1,681",649,31.4411 100.4505°W
313,Vacaville,California,"100,670","92,428",8.92,29.0,75.1,"3,449","1,332",38.3539 121.9728°W
314,Clinton,Michigan,"100,471","96,796",3.80,28.1,72.8,"3,573","1,380",42.5903 82.9170°W
315,Bend,Oregon,"100,421","76,639",31.03,33.1,85.7,"3,034","1,171",44.0500 121.3000°W
316,Woodbridge,New Jersey,"100,145","99,585",0.56,23.3,60.3,"4,351","1,680",40.5607 74.2927°W

In [625]:
usa['Location'] = usa['Location'].apply(lambda x: x.replace('°W',' '))

In [626]:
usa

,City,State,2019 estimate,2010 Census,Change,2016 land area,Unnamed: 6,2016 population density,Unnamed: 8,Location
0,New York,New York,"8,336,817","8,175,133",1.98,301.5,780.9,"28,317","10,933",40.6635 73.9387
1,Los Angeles,California,"3,979,576","3,792,621",4.93,468.7,"1,213.9","8,484","3,276",34.0194 118.4108
2,Chicago,Illinois,"2,693,976","2,695,598",−0.06,227.3,588.7,"11,900","4,600",41.8376 87.6818
3,Houston,Texas,"2,320,268","2,100,263",10.48,637.5,"1,651.1","3,613","1,395",29.7866 95.3909
4,Phoenix,Arizona,"1,680,992","1,445,632",16.28,517.6,"1,340.6","3,120","1,200",33.5722 112.0901
...,...,...,...,...,...,...,...,...,...,...
312,San Angelo,Texas,"101,004","93,200",8.37,59.9,155.1,"1,681",649,31.4411 100.4505
313,Vacaville,California,"100,670","92,428",8.92,29.0,75.1,"3,449","1,332",38.3539 121.9728
314,Clinton,Michigan,"100,471","96,796",3.80,28.1,72.8,"3,573","1,380",42.5903 82.9170
315,Bend,Oregon,"100,421","76,639",31.03,33.1,85.7,"3,034","1,171",44.0500 121.3000
316,Woodbridge,New Jersey,"100,145","99,585",0.56,23.3,60.3,"4,351","1,680",40.5607 74.2927

In [627]:
# dividing the location of cities into longitude and respectively latitude
location = pd.DataFrame(usa.Location.str.split(' ',1).tolist(),
                                 columns = ['Latitude','Longitude'])

In [628]:
location

    Latitude  Longitude
0    40.6635   73.9387
1    34.0194  118.4108
2    41.8376   87.6818
3    29.7866   95.3909
4    33.5722  112.0901
..       ...        ...
312  31.4411  100.4505
313  38.3539  121.9728
314  42.5903   82.9170
315  44.0500  121.3000
316  40.5607   74.2927

[317 rows x 2 columns]

In [629]:
# concatenation of longitude and latitude columns
usa_city = pd.concat([usa, location], axis = 1)

In [630]:
usa_city

,City,State,2019 estimate,2010 Census,Change,2016 land area,Unnamed: 6,2016 population density,Unnamed: 8,Location,Latitude,Longitude
0,New York,New York,"8,336,817","8,175,133",1.98,301.5,780.9,"28,317","10,933",40.6635 73.9387,40.6635,73.9387
1,Los Angeles,California,"3,979,576","3,792,621",4.93,468.7,"1,213.9","8,484","3,276",34.0194 118.4108,34.0194,118.4108
2,Chicago,Illinois,"2,693,976","2,695,598",−0.06,227.3,588.7,"11,900","4,600",41.8376 87.6818,41.8376,87.6818
3,Houston,Texas,"2,320,268","2,100,263",10.48,637.5,"1,651.1","3,613","1,395",29.7866 95.3909,29.7866,95.3909
4,Phoenix,Arizona,"1,680,992","1,445,632",16.28,517.6,"1,340.6","3,120","1,200",33.5722 112.0901,33.5722,112.0901
...,...,...,...,...,...,...,...,...,...,...,...,...
312,San Angelo,Texas,"101,004","93,200",8.37,59.9,155.1,"1,681",649,31.4411 100.4505,31.4411,100.4505
313,Vacaville,California,"100,670","92,428",8.92,29.0,75.1,"3,449","1,332",38.3539 121.9728,38.3539,121.9728
314,Clinton,Michigan,"100,471","96,796",3.80,28.1,72.8,"3,573","1,380",42.5903 82.9170,42.5903,82.9170
315,Bend,Oregon,"100,421","76,639",31.03,33.1,85.7,"3,034","1,171",44.0500 121.3000,44.0500,121.3000
316,Woodbridge,New Jersey,"100,145","99,585",0.56,23.3,60.3,"4,351","1,680",40.5607 74.2927,40.5607,74.2927

In [631]:
# Droping the Location column
usa_city.drop(columns='Location', inplace=True)

In [632]:
usa_city

,City,State,2019 estimate,2010 Census,Change,2016 land area,Unnamed: 6,2016 population density,Unnamed: 8,Latitude,Longitude
0,New York,New York,"8,336,817","8,175,133",1.98,301.5,780.9,"28,317","10,933",40.6635,73.9387
1,Los Angeles,California,"3,979,576","3,792,621",4.93,468.7,"1,213.9","8,484","3,276",34.0194,118.4108
2,Chicago,Illinois,"2,693,976","2,695,598",−0.06,227.3,588.7,"11,900","4,600",41.8376,87.6818
3,Houston,Texas,"2,320,268","2,100,263",10.48,637.5,"1,651.1","3,613","1,395",29.7866,95.3909
4,Phoenix,Arizona,"1,680,992","1,445,632",16.28,517.6,"1,340.6","3,120","1,200",33.5722,112.0901
...,...,...,...,...,...,...,...,...,...,...,...
312,San Angelo,Texas,"101,004","93,200",8.37,59.9,155.1,"1,681",649,31.4411,100.4505
313,Vacaville,California,"100,670","92,428",8.92,29.0,75.1,"3,449","1,332",38.3539,121.9728
314,Clinton,Michigan,"100,471","96,796",3.80,28.1,72.8,"3,573","1,380",42.5903,82.9170
315,Bend,Oregon,"100,421","76,639",31.03,33.1,85.7,"3,034","1,171",44.0500,121.3000
316,Woodbridge,New Jersey,"100,145","99,585",0.56,23.3,60.3,"4,351","1,680",40.5607,74.2927

In [633]:
# renaming of all columns
usa_city.rename(columns = {'Change' : 'Change (%)', '2016 land area' : '2016 land area (mi sq)', 'Unnamed: 6' : '2016 land area (km2)', 
                          '2016 population density' : '2016 population density (hab/mi sq)', 'Unnamed: 8' : '2016 population density (hab/km2)'}, inplace = True)

In [634]:
usa_city

,City,State,2019 estimate,2010 Census,Change (%),2016 land area (mi sq),2016 land area (km2),2016 population density (hab/mi sq),2016 population density (hab/km2),Latitude,Longitude
0,New York,New York,"8,336,817","8,175,133",1.98,301.5,780.9,"28,317","10,933",40.6635,73.9387
1,Los Angeles,California,"3,979,576","3,792,621",4.93,468.7,"1,213.9","8,484","3,276",34.0194,118.4108
2,Chicago,Illinois,"2,693,976","2,695,598",−0.06,227.3,588.7,"11,900","4,600",41.8376,87.6818
3,Houston,Texas,"2,320,268","2,100,263",10.48,637.5,"1,651.1","3,613","1,395",29.7866,95.3909
4,Phoenix,Arizona,"1,680,992","1,445,632",16.28,517.6,"1,340.6","3,120","1,200",33.5722,112.0901
...,...,...,...,...,...,...,...,...,...,...,...
312,San Angelo,Texas,"101,004","93,200",8.37,59.9,155.1,"1,681",649,31.4411,100.4505
313,Vacaville,California,"100,670","92,428",8.92,29.0,75.1,"3,449","1,332",38.3539,121.9728
314,Clinton,Michigan,"100,471","96,796",3.80,28.1,72.8,"3,573","1,380",42.5903,82.9170
315,Bend,Oregon,"100,421","76,639",31.03,33.1,85.7,"3,034","1,171",44.0500,121.3000
316,Woodbridge,New Jersey,"100,145","99,585",0.56,23.3,60.3,"4,351","1,680",40.5607,74.2927

In [635]:
# Displaying data types and converting them
usa_city.dtypes

City                                   object
State                                  object
2019 estimate                          object
2010 Census                            object
Change (%)                             object
2016 land area (mi sq)                 object
2016 land area (km2)                   object
2016 population density (hab/mi sq)    object
2016 population density (hab/km2)      object
Latitude                               object
Longitude                              object
dtype: object

In [636]:
usa_city['2019 estimate'] = usa_city['2019 estimate'].str.replace(',','')

In [637]:
usa_city['2019 estimate'] = usa_city['2019 estimate'].astype('int64')

In [638]:
usa_city['2010 Census'] = usa_city['2010 Census'].str.replace(',','')

In [639]:
usa_city['2010 Census'] = usa_city['2010 Census'].astype('int64')

In [640]:
usa_city['2016 land area (km2)'] = usa_city['2016 land area (km2)'].str.replace(',','')

In [641]:
usa_city['2016 population density (hab/mi sq)'] = usa_city['2016 population density (hab/mi sq)'].str.replace(',','')

In [642]:
usa_city['2016 population density (hab/km2)'] = usa_city['2016 population density (hab/km2)'].str.replace(',','')

In [643]:
usa_city['2016 land area (mi sq)'] = usa_city['2016 land area (km2)'].astype('float64')

In [644]:
usa_city['2016 land area (km2)'] = usa_city['2016 land area (km2)'].astype('float64')

In [645]:
usa_city['2016 population density (hab/mi sq)'] = usa_city['2016 population density (hab/mi sq)'].astype('int64')

In [646]:
usa_city['2016 population density (hab/km2)'] = usa_city['2016 population density (hab/km2)'].astype('int64')

In [647]:
usa_city['Longitude'] = usa_city['Longitude'].astype('float64')

In [648]:
usa_city['Latitude'] = '-' + usa_city['Latitude'].astype(str)

In [649]:
usa_city['Latitude'] = usa_city['Latitude'].astype('float64')

In [650]:
usa_city

,City,State,2019 estimate,2010 Census,Change (%),2016 land area (mi sq),2016 land area (km2),2016 population density (hab/mi sq),2016 population density (hab/km2),Latitude,Longitude
0,New York,New York,8336817,8175133,1.98,780.9,780.9,28317,10933,-40.6635,73.9387
1,Los Angeles,California,3979576,3792621,4.93,1213.9,1213.9,8484,3276,-34.0194,118.4108
2,Chicago,Illinois,2693976,2695598,−0.06,588.7,588.7,11900,4600,-41.8376,87.6818
3,Houston,Texas,2320268,2100263,10.48,1651.1,1651.1,3613,1395,-29.7866,95.3909
4,Phoenix,Arizona,1680992,1445632,16.28,1340.6,1340.6,3120,1200,-33.5722,112.0901
...,...,...,...,...,...,...,...,...,...,...,...
312,San Angelo,Texas,101004,93200,8.37,155.1,155.1,1681,649,-31.4411,100.4505
313,Vacaville,California,100670,92428,8.92,75.1,75.1,3449,1332,-38.3539,121.9728
314,Clinton,Michigan,100471,96796,3.80,72.8,72.8,3573,1380,-42.5903,82.9170
315,Bend,Oregon,100421,76639,31.03,85.7,85.7,3034,1171,-44.0500,121.3000
316,Woodbridge,New Jersey,100145,99585,0.56,60.3,60.3,4351,1680,-40.5607,74.2927

In [651]:
# droping the Change % column
usa_city.drop(columns = 'Change (%)', inplace = True)

In [652]:
usa_city

,City,State,2019 estimate,2010 Census,2016 land area (mi sq),2016 land area (km2),2016 population density (hab/mi sq),2016 population density (hab/km2),Latitude,Longitude
0,New York,New York,8336817,8175133,780.9,780.9,28317,10933,-40.6635,73.9387
1,Los Angeles,California,3979576,3792621,1213.9,1213.9,8484,3276,-34.0194,118.4108
2,Chicago,Illinois,2693976,2695598,588.7,588.7,11900,4600,-41.8376,87.6818
3,Houston,Texas,2320268,2100263,1651.1,1651.1,3613,1395,-29.7866,95.3909
4,Phoenix,Arizona,1680992,1445632,1340.6,1340.6,3120,1200,-33.5722,112.0901
...,...,...,...,...,...,...,...,...,...,...
312,San Angelo,Texas,101004,93200,155.1,155.1,1681,649,-31.4411,100.4505
313,Vacaville,California,100670,92428,75.1,75.1,3449,1332,-38.3539,121.9728
314,Clinton,Michigan,100471,96796,72.8,72.8,3573,1380,-42.5903,82.9170
315,Bend,Oregon,100421,76639,85.7,85.7,3034,1171,-44.0500,121.3000
316,Woodbridge,New Jersey,100145,99585,60.3,60.3,4351,1680,-40.5607,74.2927

In [653]:
# adding and calculation of Population_difference column
usa_city['Population_difference'] = usa_city.apply(lambda x : x['2019 estimate'] - x['2010 Census'], axis = 1)

In [654]:
usa_city

,City,State,2019 estimate,2010 Census,2016 land area (mi sq),2016 land area (km2),2016 population density (hab/mi sq),2016 population density (hab/km2),Latitude,Longitude,Population_difference
0,New York,New York,8336817,8175133,780.9,780.9,28317,10933,-40.6635,73.9387,161684
1,Los Angeles,California,3979576,3792621,1213.9,1213.9,8484,3276,-34.0194,118.4108,186955
2,Chicago,Illinois,2693976,2695598,588.7,588.7,11900,4600,-41.8376,87.6818,-1622
3,Houston,Texas,2320268,2100263,1651.1,1651.1,3613,1395,-29.7866,95.3909,220005
4,Phoenix,Arizona,1680992,1445632,1340.6,1340.6,3120,1200,-33.5722,112.0901,235360
...,...,...,...,...,...,...,...,...,...,...,...
312,San Angelo,Texas,101004,93200,155.1,155.1,1681,649,-31.4411,100.4505,7804
313,Vacaville,California,100670,92428,75.1,75.1,3449,1332,-38.3539,121.9728,8242
314,Clinton,Michigan,100471,96796,72.8,72.8,3573,1380,-42.5903,82.9170,3675
315,Bend,Oregon,100421,76639,85.7,85.7,3034,1171,-44.0500,121.3000,23782
316,Woodbridge,New Jersey,100145,99585,60.3,60.3,4351,1680,-40.5607,74.2927,560

In [655]:
# Saving the new cleaned and processed file
usa_city.to_csv('united_states_cities.csv',index = False)